---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v2/PhoneNumbers/+5541998254341
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUNhN2ZlNDMyZjJlMzgyMTYzZmUwYjMwN2RiOGRmNzQ5ZDozNzBhYTNiYjRhMGI2ZjFhOTAwMGYwN2RjYWIzNGU4Nw==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQd29bd07285363665938f03e851761667
      Twilio-Request-Duration:
      - '18'
      X-Api-Domain:
      - lookups.twilio.com
      X-Home-Region:
      - us1
      X-Shenanigans:
      - none
    body:
      encoding: ASCII-8BIT
      string: '{"call_forwarding":null,"caller_name":null,"calling_country_code":"55","country_code":"BR","identity_match":null,"line_status":null,"line_type_intelligence":null,"national_format":"(41)
        99825-4341","phone_number":"+5541998254341","phone_number_quality_score":null,"reassigned_number":null,"sim_swap":null,"sms_pumping_risk":null,"url":"https://lookups.twilio.com/v2/PhoneNumbers/+5541998254341","valid":true,"validation_errors":[]}'
  recorded_at: Mon, 11 Mar 2024 21:04:22 GMT
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<ACCOUNT_SID>/Messages.json
    body:
      encoding: UTF-8
      string: Body=Seu+municpe+status+foi+atualizado.&From=%2B17278003657&To=%2B5541998254341
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNhN2ZlNDMyZjJlMzgyMTYzZmUwYjMwN2RiOGRmNzQ5ZDozNzBhYTNiYjRhMGI2ZjFhOTAwMGYwN2RjYWIzNGU4Nw==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQ624ffa14c1723d28e79a5cc91ca03c3f
      Twilio-Request-Duration:
      - '0.107'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"body": "Sent from your Twilio trial account - Seu municpe status
        foi atualizado.", "num_segments": "1", "direction": "outbound-api", "from":
        "<TWILIO_PHONE>", "date_updated": "Mon, 11 Mar 2024 21:09:19 +0000", "price":
        null, "error_message": null, "uri": "/2010-04-01/Accounts/<ACCOUNT_SID>/Messages/SM624ffa14c1723d28e79a5cc91ca03c3f.json",
        "account_sid": "<ACCOUNT_SID>", "num_media": "0", "to": "+5541998254341",
        "date_created": "Mon, 11 Mar 2024 21:09:19 +0000", "status": "queued", "sid":
        "SM624ffa14c1723d28e79a5cc91ca03c3f", "date_sent": null, "messaging_service_sid":
        null, "error_code": null, "price_unit": "USD", "api_version": "2010-04-01",
        "subresource_uris": {"media": "/2010-04-01/Accounts/<ACCOUNT_SID>/Messages/SM624ffa14c1723d28e79a5cc91ca03c3f/Media.json"}}'
  recorded_at: Mon, 11 Mar 2024 21:04:23 GMT
recorded_with: VCR 3.0.3
