---
http_interactions:
- request:
    method: get
    uri: https://lookups.twilio.com/v2/PhoneNumbers/+5541998254341
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic QUNhN2ZlNDMyZjJlMzgyMTYzZmUwYjMwN2RiOGRmNzQ5ZDozNzBhYTNiYjRhMGI2ZjFhOTAwMGYwN2RjYWIzNGU4Nw==
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Id:
      - RQ2d934759c3c17494d9d3842d7ff7bf14
      Twilio-Request-Duration:
      - '14'
      X-Api-Domain:
      - lookups.twilio.com
      Www-Authenticate:
      - Basic realm="Twilio API"
      X-Home-Region:
      - us1
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code":20003,"message":"Authenticate","more_info":"https://www.twilio.com/docs/errors/20003","status":401}'
  recorded_at: Tue, 12 Mar 2024 19:34:08 GMT
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<ACCOUNT_SID>/Messages.json
    body:
      encoding: UTF-8
      string: Body=Sua+solicita%C3%A7%C3%A3o+foi+atualizada+com+sucesso.&From=%2B17278003657&To=%2B5541998254341
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNhN2ZlNDMyZjJlMzgyMTYzZmUwYjMwN2RiOGRmNzQ5ZDozNzBhYTNiYjRhMGI2ZjFhOTAwMGYwN2RjYWIzNGU4Nw==
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Www-Authenticate:
      - Basic realm="Twilio API"
      Twilio-Request-Id:
      - RQ0c1a7f20ada8a3c585d361c559377267
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"code":20003,"message":"Authenticate","more_info":"https://www.twilio.com/docs/errors/20003","status":401}'
  recorded_at: Tue, 12 Mar 2024 19:34:09 GMT
recorded_with: VCR 6.2.0
