---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<ACCOUNT_SID>/Messages.json
    body:
      encoding: UTF-8
      string: Body=Test+message&From=%2B17278003657&To=
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNhN2ZlNDMyZjJlMzgyMTYzZmUwYjMwN2RiOGRmNzQ5ZDozNzBhYTNiYjRhMGI2ZjFhOTAwMGYwN2RjYWIzNGU4Nw==
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Request-Id:
      - RQfacb48b2c47c23dfa8d5842161ebdbdf
      Twilio-Request-Duration:
      - '0.019'
      Twilio-Concurrent-Requests:
      - '1'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"code": 21604, "message": "A ''To'' phone number is required.", "more_info":
        "https://www.twilio.com/docs/errors/21604", "status": 400}'
  recorded_at: Mon, 11 Mar 2024 19:08:16 GMT
recorded_with: VCR 3.0.3
